[submodule "stow/tmux/.tmux-themepack"]
	path = stow/tmux/.tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "stow/nvim/.config/nvim"]
	path = stow/nvim/.config/nvim
	url = https://github.com/Aljendro/starter.git
